<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhizhen.ybb">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:name=".base.YbBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launch_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launch_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:name=".loginpWelcomeActivityvity"-->
        <activity
            android:name=".loginpass.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".my.MyVisonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.loginpass.ForgatPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.loginpass.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.loginpass.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.my.ChoiceSexActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.my.EditDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.my.EditNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.home.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.my.ChoiceSampling"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zhizhen.ybb.my.MyDeivceActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zhizhen.ybb.my.ParameterSetActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zhizhen.ybb.my.SetTimeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zhizhen.ybb.my.SetACTimeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zhizhen.ybb.my.SetSamplingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zhizhen.ybb.my.SetPosTureActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zhizhen.ybb.my.SetShakingNumActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zhizhen.ybb.my.SetShakingTimeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zhizhen.ybb.my.FollowActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".lanya.BLEDeviceLiatActivity"/>
        <activity android:name=".lanya.MyBLEActivity"/>

        <service android:name=".lanya.UartService"/>
        <activity android:name=".my.SetPosTureActivity2"/>

        <!--android:process=":remote"-->
        <service
            android:name=".lanya.MsgAidlService"
            android:process=":remote"/>
    </application>

</manifest>